.header {
  max-width: 40rem;
  background-color: #313131;
  color: white;
  border: 1px solid #252424;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}
.header h1 {
  text-align: center;
}
.header h2 {
  font-size: 1.25rem;
  margin: 1rem 0 0 1rem;
}

.header ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}
.Button section {
  align-items: center;
  border: 1px solid #2a2828;
  border-radius: 1rem;
  text-align: center;
  width: 25%;
  margin: auto;
}
.Button h2 {
  font-size: 1.25rem;
  margin: 1rem;
  display: inline;
  align-items: center;
  text-align: center;
}
.Button button {
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: rgb(7, 6, 6);
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 20%;
  display: flex;
  cursor: pointer;
}

.Button p {
  color: #00ce11;
  margin: auto;
  text-align: center;
  margin: 1rem;
}
