.header {
  max-width: 40rem;
  background-color: #313131;
  color: white;
  border: 1px solid #252424;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}
.header h1 {
  text-align: center;
}
.header h2 {
  font-size: 1.25rem;
  margin: 1rem 0 0 1rem;
}

.header ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}
