.nav {
  float: left;
  margin: 5px;
  padding: 10px;
  background-color: #252424;
  border-radius: 10px;
  border: 1px solid #252424;
  width: 31%;
}
.nav img {
  margin: auto;
  width: 50%;
  border: 1px solid #252424;
  border-radius: 10px;
  display: flex;
}

.nav img:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}
.nav button {
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: rgb(7, 6, 6);
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  /* margin-top: 10px; */
  margin: 10px auto auto auto;
  width: 50%;
  display: flex;
  cursor: pointer;
}

button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.loginButton {
  padding: 1rem;
  color: rgb(255, 255, 255);
  /* margin: 10px auto auto 500px; */
  display: flex;
  margin: auto;
  background: #252424;
  cursor: pointer;
  justify-content: center;
  /* align-items: center; */
  border-radius: 10px;
}
.loginButton a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
